_doc/
backup/
dist/
build/
meson_info/
_reports/
wheelhouse/
docs/build
docs/doxygen/html
docs/doxygen/latex
docs/doxygen/xml
src/mmgroup/*.dll
src/mmgroup/dev/c_doc/
src/mmgroup/dev/c_files/
src/mmgroup/dev/lib_files/
src/mmgroup/dev/shared_files/
src/mmgroup/dev/pxd_files/
src/mmgroup.egg-info
temp/
PKG-INFO
zip.bat
msvc*.bat
make_all_doc.bat
applications/Hurwitz/*.txt
applications/Hurwitz/*.bat

src/mmgroup/mm.py
src/mmgroup/mm3.py
src/mmgroup/mm7.py
src/mmgroup/mm15.py
src/mmgroup/mm31.py
src/mmgroup/mm63.py
src/mmgroup/mm127.py
src/mmgroup/mm255.py

__pycache__
.cache
.eggs
.pytest_cache

*.egg-info
*.pyc
*.pyd
*.o
*.old
*.obj
*~
*.so
