_doc/
backup/
dist/
build/
docs/build
src/mmgroup/*.dll
src/mmgroup/dev/c_doc/
src/mmgroup/dev/c_files/
src/mmgroup/dev/pxd_files/
src/mmgroup.egg-info
temp/
PKG-INFO
zip.bat
msvc.bat


__pycache__
.cache
.eggs
.pytest_cache

*.egg-info
*.pyc
*.pyd
*.o
*.old
*~


