_doc/
backup/
dist/
build/
_reports/
wheelhouse/
docs/build
docs/doxygen/html
docs/doxygen/latex
docs/doxygen/xml
src/mmgroup/*.dll
src/mmgroup/dev/c_doc/
src/mmgroup/dev/c_files/
src/mmgroup/dev/pxd_files/
src/mmgroup.egg-info
temp/
PKG-INFO
zip.bat
msvc*.bat
make_all_doc.bat
applications/Hurwitz/*.txt
applications/Hurwitz/*.bat


__pycache__
.cache
.eggs
.pytest_cache

*.egg-info
*.pyc
*.pyd
*.o
*.old
*.obj
*~
*.so
