recursive-include . *.ske *.pyx *.ini *.rst *.bat
recursive-include src/mmgroup *.py
include .gitignore
include *.py
include docs/source/*.rst
include docs/source/*.inc
include docs/source/*.py
include docs/source/*.bib




