recursive-include . *.ske *.pyx *.ini *.rst *.bat
recursive-include src/mmgroup *.py
recursive-include applications *.py
include .gitignore
include *.py
include src/*.py
include src/mmgroup/dev/config.py
include docs/source/*.rst
include docs/source/*.inc
include docs/source/*.py
include docs/source/*.bib
include src/mmgroup/dev/clifford12/*.h
include src/mmgroup/dev/generators/*.h
include src/mmgroup/dev/mat24/*.h
include src/mmgroup/dev/mm_basics/*.h
include src/mmgroup/dev/mm_op/*.h
include src/mmgroup/dev/mm_reduce/*.h
include README.rst
include requirements.txt
include pyproject.toml
include readthedocs.yaml
include MANIFEST.in
include docs/requirements.txt






